.Btn {
  width: 100%;
  height: 4.25em;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaecf0;
  color: #101828;
  text-align: center;
  /* padding: .2em 0; */
  margin: auto;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  transition: background-color .5s ease-in-out;
}
.Btn:hover{
  background-color: #d4d9e4;
}
.Title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Title h2{
  font-size: .899rem;
  margin-bottom: .2em;
}
.Title sub{
  font-weight: normal;
  font-size: .8rem;
}
@media only screen and (min-width: 45em){
.Title h2{
  font-size: 1.099rem;
}
.Title sub{
  font-size: 1rem;
}
}
