.Footer{
    width: 90%;
    max-width: 80em;
    margin: 0 auto 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    border-top: 1px solid #dce0e9;
}
.Footer p{
    color: #667085;
    font-size: .6rem;
}
.Footer img{
    height: 1em;
}

@media only screen and (min-width: 45em){
    .Footer{
        flex-direction: row;
        justify-content: space-between;
    }
    .Footer img{
        height: 1.54625em;
        width: 11.564375em;
    }
    .Footer p{
        font-size: 1rem;
    }
    #i4g{
        width: 8.258125em;
    }
}