.Profile{
    width: 20%;
    margin: 5em auto -1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profile__img{
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
}
.Username{
font-size: 1.125rem;
white-space: nowrap;
font-weight: 700;
color: #101828;
}
#slack{
    display: none;
}
@media only screen and (min-width: 45em){
    .Username{
        font-size: 1.25em;
    }
}